body{
    padding: 0;
    margin: 0;
    background-color: rgb(44, 43, 43);
}

h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.nadpis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border: 5px solid white;
}

.form form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.form form p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

form .form .terms{
    display: flex; 
}

label{
    color: white;
}

a{
    color: rgb(187, 19, 19);
}

.sign_in{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

input[type="text"], input[type="email"], input[type="password"]{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
    background-color: rgba(43, 18, 18, 0.432);
}